<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Rmit news</title>
  </head>
  <body>
    <div class="center jumbotron">
        <h3>Rmit News</h3>
      <% if logged_in? %>
       <td><%= title_submits_path %></td>
        <td><%= url_submits_path %></td>
    
    
    
        <%= link_to "Submits", submits_path %>
        <% else %>
 
      
  
          <%= link_to "Submit", login_path %>
          <% end %>

 
</div>


            
  
  </body>
</html>