<section class="link-thread">
  <header>
    
  </header>
</section>
<% if logged_in? %>
    <div class="add-comment row">
      <div class="col-sm-6">
        <%= form_for :comment, url: comments_path(@submit) do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control", placeholder: "The quick brown fox...", rows: 10, required: true %>
          </div>

          <div class="form-group">
            <%= f.button "add comment", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<div class="all-comments row">
    <div class="col-sm-12">
      <% if @comments.present? %>
        <h3>
            Comments
        </h3>
      <% end %>
      
      <% @comments.each do |comment| %>
        <div class="comment">
          <p class="comment-owner">
            <strong>
              <%= comment.user.username %>
            </strong>

            <span class="comment-created small">
              <%= time_ago_in_words(comment.created_at) %> ago
            </span>
            <% if logged_in?  %>
  <span class="edit-comment">
    <%= link_to 'edit',  edit_submit_comment_path(@submit, comment) %>
  </span>

  <span class="delete-comment">
    <%= link_to 'delete', submit_comment_path(@submit, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
<% end %>
          </p>

          <p>
            <%= comment.body %>
          </p>
        </div>
      <% end %>
    </div>
  </div>


